<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    padding: 0;
    margin: 0;
    list-style-type: none;
    outline: none;
    text-decoration: none;
    word-wrap: break-word;
}


body {
    font-family: 'Lato', sans-serif;
    background-color: #fff;
}

p {
    color: #424242;
    font-size: 18px;
    line-height: 26px;
    font-family: "Lato",sans-serif;
    padding: 8px 0;
}


ul{
    list-style: none;
}

.hover-link{
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}




.hover-link {
    cursor: pointer;
}



.news-input {
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 4px;
    border: 2px solid #bbd0e2;
    font-family: "Roboto", sans-serif;
}


main {
    padding-block: 20px;
    margin-top: 80px;
}

.cards-container {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}

.card {
    width: 360px;
    min-height: 400px;
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.3s ease;
}


.card:hover {
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    width: 400px;
    height: 450px;
    margin: 0 auto; 
    position: relative;
    top: -75px; 
    z-index: 1; 

}

.card-header img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 12px;
}

.news-source {
    margin-block: 12px;
}


.pagination .page-link {
    color: black;
}


.pagination .page-item.active .page-link, .pagination .page-item .page-link:hover {
    background-color: white;
}

.footer {
            background-color: #333; 
            color: white;
            padding: 20px; 
            text-align: center; 
        }
#newsrealm:hover{
    font-size: 80px;
    color: white;
}